<?xml version="1.0" encoding="utf-8"?>
<spinnakerSpoutCinder>
	<sendHeight>480</sendHeight>
	<sendWidth>640</sendWidth>
	<binning>1</binning>
	<pixelFormat>4</pixelFormat>
	<exposureAuto>0</exposureAuto>
	<gainAuto>0</gainAuto>
	<exposureTimeAbs>2553.34</exposureTimeAbs>
	<logLevelIndex>4</logLevelIndex>
</spinnakerSpoutCinder>

